# Get a free testnet account + 10,000 test HBAR every 24h from the Hedera
# Portal faucet: https://portal.hedera.com/ : use ECDSA 
HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=0.0.xxxxxxx
HEDERA_OPERATOR_KEY=302e020100300506032b657004220420...

# Created once via `npm run create-topic`, then pasted here. Every report
# event from the Flask backend gets submitted as a message to this topic.
HEDERA_TOPIC_ID=

PORT=4001
